
text[class="tooltip"] {
	color:#333 !important;
	z-index: 9999 !important;
}

text.tooltip {
	color:#333 !important;
	z-index: 9999 !important;
}

.tooltip {
	color:#333 !important ;
	z-index: 9999 !important;
}

text {
	color:#333 !important;
	z-index: 9999 !important;
}