
<div class="report-area">
  <div class="report-chart full">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">Mayor's Office of Innovation Delivery and Performance<br><br><strong>FOR Atlanta</strong></h5>
    </div><div class="panel-body">
        <p><b>City of Atlanta</b><br>55 Trinity Avenue, Ste 2400<br>Atlanta, Georgia 30303</p>
        <p><b>Emily Love</b><br>Director<br>Tel: (404) 330-6915<br><a href="mailto:eplove@atlantaga.gov">eplove@atlantaga.gov</a></p>
        <p><b>Matt Malament</b><br>Deputy Director<br>Tel: (404) 330-6904<br><a href="mailto:mmalament@atlantaga.gov">mmalament@atlantaga.gov</a></p>
      </div>
    </div>
  </div>
</div>
