@import 'variables','bootstrap','dashboard';

//////////////////////////
// Section Headers
.panel-title {
  line-height: 1.5;
}
.header {
  p {
    font-size: 1.2em;
    line-height: 1.7em;
  }
}
.report-group-body {

  .report-group-heading {
    margin-bottom: 2em;
    @include make-row();
    hgroup {
      @include make-sm-column(12);
    }
    h2 {
      margin-bottom: .2em;
    }
    h3 {
      color: #99A9BB;
      margin: 0;
    }
  }
  .report-area {
    @include make-row();
    margin-bottom: 3em;
  }
  .report-area-heading {
    @include make-sm-column(12);
  }
  .report-chart {
    margin-bottom:2em;
    &.full      { @include make-sm-column(12); }
    &.twothirds { @include make-sm-column(8); }
    &.half      { @include make-sm-column(6); }
    &.third     { @include make-sm-column(4); }
    &.quarter   { @include make-sm-column(3); }

  }
  .report-chart-note {
    color:#888;
    font-size: .9em;
    font-style: italic;
    padding:1em 0 0;
  }
}