@import 'variables','bootstrap','dashboard';

//////////////////////////
// Section Headers
.panel-title {
  line-height: 1.5;
}
.panel-footer.social {
  overflow: auto;
  padding: 15px 0 0 15px;
  
  .social-section {
    float: right;
    background-color: #F5F5F5;
    padding: 10px 10px 10px;
  }
}
.header {
  p {
    font-size: 1.2em;
    line-height: 1.7em;
  }
}
.panel.contents {
  padding: 10px;
  @media (min-width: 768px) {
    max-width: 300px;
  }

  .contents-title {
    @media (min-width: 768px) {
      text-align:center;
    }
  }

  ol {
    margin-top:10px;
  }
  &.hasHidden {
    max-width: 200px;
    .contents-title {
      text-align:left;
    }
    ol {
      display:none;
    }
  }
}
.report-group-body {

  .report-group-heading {
    margin-bottom: 2em;
    @include make-row();
    hgroup {
      @include make-sm-column(12);
    }
    h2 {
      margin-bottom: .2em;
    }
    h3 {
      color: #99A9BB;
      margin: 0;
    }
  }
  .report-area {
    @include make-row();
    margin-bottom: 3em;
  }
  .report-area-heading {
    @include make-sm-column(12);
  }
  .report-chart {
    margin-bottom:2em;
    &.full      { @include make-sm-column(12); }
    &.twothirds { @include make-sm-column(8); }
    &.half      { @include make-sm-column(6); }
    &.third     { @include make-sm-column(4); }
    &.quarter   { @include make-sm-column(3); }

  }
  .report-chart-note {
    color:#888;
    font-size: .9em;
    font-style: italic;
    padding:1em 0 0;
  }
}
