---
layout: default
title: Atlanta Fire Rescue Department
pid: 70
category: public-safety-departments
description: With an authorized strength of over 2000 sworn officers, the Atlanta Police Department is the largest law enforcement agency in the State of Georgia. The mission of the Department is to create a safer Atlanta by reducing crime, ensuring the safety of our citizens and building trust in partnership with the community. The Department also operates the City’s E911 Call Center, which aims to quickly respond to emergency calls and dispatch emergency services.
---
<div class="header">
  <h1>Atlanta Fire Rescue Department</h1>
  <p>Atlanta Fire Rescue is a modern, all-hazards fire department.  Department staff operates out of 35 fire stations, which include five stations at Hartsfield-Jackson Atlanta International Airport. There are over 1,000 employees (988 sworn and 44 civilian) serving an area of 132 square miles within the city limits of Atlanta. The Department’s two core functions are responding swiftly to Fire and Emergency Medical Services (EMS)-related incidents.</p>
  <p>This page provides performance data focused on key indicators in these areas.</p>
  <p>In June 2014, as part of its national re-accreditation process, the Department updated its metrics and tracking methodologies to align with national best practices. To ensure data quality and comparability across time, the starting point of the Department's data on this page will be June 2014.</p>

  <div class="panel contents">
    <div class="contents-title">
      <strong>Contents</strong>
      <span class="toggleContents">&nbsp;[<a href="#" id="toggleContentsLink">hide</a>]&nbsp;</span>
    </div>
    <ol>
      {% for info in site.data.atlanta-fire-rescue %}
        {% for chart in info.charts %}
          <li><a href="#{{ chart.datasource }}">{{ chart.title }}</a></li>
        {% endfor %}
      {% endfor %}
    </ol>
  </div>

</div>
<div class="report-group-body">
  {% for group in site.data.atlanta-fire-rescue %}
  <header class="report-group-heading">
    <hgroup>
      <h2>{{ group.group-title }}</h2>
      {% if group.group-description %}<h3>{{ group.group-description }}</h3>{% endif %}
    </hgroup>
  </header>
  <div class="report-area">
    {% for chart in group.charts %}
    {% include chart-module.html %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
