---
layout: default
title: Atlanta Police Department
pid: 60
category: public-safety-departments
---
<div class="report-group-body">
  {% for group in site.data.atlanta-police-department %}
  <header class="report-group-heading">
    <hgroup>
      <h2>{{ group.group-title }}</h2>
      {% if group.group-description %}<h3>{{ group.group-description }}</h3>{% endif %}
    </hgroup>
  </header>
  <div class="report-area">
    {% for chart in group.charts %}
    {% include chart-module.html %}
    {% endfor %}
  </div>
  {% endfor %}
</div>