---
layout: default
title: Office of Code Enforcement
pid: 120
category: operational-departments
---
<div class="header">
  <h1>Office of Code Enforcement</h1>
  <p>The Office of Code Enforcement is housed within the Atlanta Police Department.  It is responsible for the inspection and enforcement of residential and commercial properties that violate the Atlanta Housing Code, Graffiti Ordinance, and/or Commercial Maintenance and Industrial Code.  The Office’s mission is to ensure safe and sanitary conditions in housing and commercial properties through effective code enforcement efforts. </p>
  <p>This page provides performance data on key performance indicators related to the Office’s ability to efficiently inspect and address Code compliance complaints.</p>
</div>

<div class="report-group-body">
  {% for group in site.data.code-enforcement %}
  <header class="report-group-heading">
    <hgroup>
      <h2>{{ group.group-title }}</h2>
      {% if group.group-description %}<h3>{{ group.group-description }}</h3>{% endif %}
    </hgroup>
  </header>
  <div class="report-area">
    {% for chart in group.charts %}
    {% include chart-module.html %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
