---
layout: default
title: Department Of Corrections
pid: 80
category: public-safety-departments
---
<div class="header">
  <h1>Department of Corrections</h1>
  <p>The City of Atlanta Department of Corrections operates the City’s Detention Center.  The Department’s mission is to provide a safe and secure correctional environment and enhance public safety through partnerships with the community and law enforcement.</p>
  <p> This page provides performance data focused on key indicators for these areas.</p>

  <div class="panel contents">
    <div class="contents-title">
      <strong>Contents</strong>
      <span class="toggleContents">&nbsp;[<a href="#" id="toggleContentsLink">hide</a>]&nbsp;</span>
    </div>
    <ol>
      {% for info in site.data.department-of-corrections %}
        {% for chart in info.charts %}
          <li><a href="#{{ chart.datasource }}">{{ chart.title }}</a></li>
        {% endfor %}
      {% endfor %}
    </ol>
  </div>

</div>
<div class="report-group-body">
  {% for group in site.data.department-of-corrections %}
  <header class="report-group-heading">
    <hgroup>
      <h2>{{ group.group-title }}</h2>
      {% if group.group-description %}<h3>{{ group.group-description }}</h3>{% endif %}
    </hgroup>
  </header>
  <div class="report-area">
    {% for chart in group.charts %}
    {% include chart-module.html %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
