---
layout: default
title: Department of Public Works
pid: 100
category: operational-departments
description: The Department of Public Works manages the City’s Transportation and Solid Waste Services.  The Department’s mission is to become the premier provider of efficient and effective Transportation and Solid Waste Services.
---
<div class="header">
  <h1>Department of Public Works</h1>
  <div class="row">
    <div class="col-md-8">
      <p>The Department of Public Works manages the City’s Transportation and Solid Waste Services.  The Department’s mission is to become the premier provider of efficient and effective Transportation and Solid Waste Services.</p>
      <p>This page provides performance data on key indicators related to customer service and operational effectiveness for both areas of the Department.</p>
      <p>In January 2014, the Department upgraded its work order management and data tracking systems. To ensure data quality and comparability across time, the starting point of the Department's Customer Service data on this page will be January 2014.</p>
    </div>
    <div class="col-md-4">
      <div class="panel contents">
        <div class="contents-title">
          <strong>Contents</strong>
          <span class="toggleContents">&nbsp;[<a href="#" id="toggleContentsLink">hide</a>]&nbsp;</span>
        </div>
        <ol>
          {% for info in site.data.public-works %}
            {% for chart in info.charts %}
              <li><a href="#{{ chart.datasource }}">{{ chart.title }}</a></li>
            {% endfor %}
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="report-group-body">
  {% for group in site.data.public-works %}
  <header class="report-group-heading">
    <hgroup>
      <h2>{{ group.group-title }}</h2>
      {% if group.group-description %}<h3>{{ group.group-description }}</h3>{% endif %}
    </hgroup>
  </header>
  <div class="report-area">
    {% for chart in group.charts %}
    {% include chart-module.html %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
