---
layout: default
title: Department of Watershed Management
pid: 60
category: operational-departments
---
<div class="header">
  <h1>Department of Watershed Management</h1>
  <p>The Department of Watershed Management is dedicated to providing the highest quality drinking water and waste water services to residential, businesses and wholesale customers. The Department’s mission includes delivering excellent customer service and ensuring professional stewardship of Atlanta’s drinking water, waste water and storm water systems.  In addition, work is under way on the second or “first amended” consent decree.</p>
  <p>This page provides performance data on key indicators related to core areas of the Department’s operations – Customer Service, Compliance and Infrastructure Management.</p>
</div>

<div class="report-group-body">
  {% for group in site.data.watershed-management %}
  <header class="report-group-heading">
    <hgroup>
      <h2>{{ group.group-title }}</h2>
      {% if group.group-description %}<h3>{{ group.group-description }}</h3>{% endif %}
    </hgroup>
  </header>
  <div class="report-area">
    {% for chart in group.charts %}
    {% include chart-module.html %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
