<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>FOR Atlanta - City Performance Metrics</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/css/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
  <script type="text/javascript">
    var chartOptions=[];
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60455027-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body>
  <section id="container">
    <header id="header">
      <div class="brand">
        <a href="/" class="logo"><span>FOR</span>Atlanta</a>
      </div>
      <div class="toggle-navigation toggle-left">
        <button type="button" class="btn btn-default" id="toggle-left" data-toggle="tooltip" data-placement="right" title="Toggle Navigation">
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </header>
    <aside class="sidebar">
      <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
          <li class="sub-menu">
            <strong><i class="fa fa-university"></i> <span>Public Safety Departments</span></strong>
            <ul>
              <li><a href="/charts/atlanta-police-department.html">Atlanta Police Department</a></li>
              <li><a href="/charts/atlanta-fire-rescue.html">Atlanta Fire Rescue Department</a></li>
              <li><a href="/charts/department-of-corrections.html">Department of Corrections</a></li>
              <li><a href="/charts/municipal-court.html">Atlanta Municipal Court</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <strong><i class="fa fa-cogs"></i> <span>Operational Departments</span></strong>
            <ul>
              <li><a href="/charts/watershed-management.html">Department of Watershed Management</a></li>
              <li><a href="/charts/public-works.html">Department of Public Works</a></li>
              <li><a href="/charts/parks-and-rec.html">Department of Parks and Recreation</a></li>
              <li><a href="/charts/office-of-buildings.html">Office of Buildings</a></li>
              <li><a href="/charts/code-enforcement.html">Office of Code Enforcement</a></li>
              <li><a href="/charts/aviation.html">Department of Aviation</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </aside>
    <section class="main-content-wrapper">
      <section id="main-content">
        {{ content }}
      </section>
    </section>
  </section>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="/js/highcharts.js"></script>
  <script src="/js/jquery.parse.min.js"></script>
  <script src="/js/lodash.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/jam.js"></script>
  <script src="/js/charts.js"></script>
  <!-- Start of foratlanta Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("//assets.zendesk.com/embeddable_framework/main.js","foratlanta.zendesk.com");/*]]>*/</script>
<!-- End of foratlanta Zendesk Widget script -->
</body>
</html>
